extends layout

block content
  .w3-cantainer
    <div class="w3-content" style="max-width:1600px">
        header.w3-container.w3-center.w3-padding-48.w3-black
            h1.w3-xxxlarge Gestão de Filmes
    </div>
    ul.w3-ul
      li 
        a(href = "http://localhost:3004/filmes") Listar Filmes
      li 
        a(href = "http://localhost:3004/filmes/inserir") Inserir Filme