extends layout

block content
  .w3-container
    h1 Lista de Filmes
    table.w3-table-all
        tr 
            th Título
            th Ano
            th Visualizar
            th Remover
        each filme in lista 
            tr 
                td= filme.title
                td= filme.year
                td 
                    a(href="http://localhost:3004/filmes/" + filme._id) 
                        button.w3-button.w3-round-xlarge.w3-blue-grey View
                td 
                    button.w3-button.w3-round-xlarge.w3-red(onclick="removeFilme('" + filme._id + "')") Delete